body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
}
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: lightslategrey;
    border-radius: 8px;
    border: 3px solid black;
  }

  /* Head */

header{
    width: 100%;
    position: fixed;
    background-color: #ccd5ae;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    margin-left: 35px;
    z-index: 1;
}

a{
    text-decoration: none;
    color:white;
}

button{
    display: block;
    background-color: transparent;
    border: none;
}

.sidebar-toggle-btn{
    color: white;
}

.brand-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.logo-tm {
    height: 55px;
    width: 90px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.nav-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #ffffff13;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.822);
    color: #1b1420ee;
}

.navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ccd5ae;
    width: 145px;
    height: 100vh;
    transition: 0.3s ease;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    gap: 50vh;
}

.nav-up-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signlog-btn{
    display: flex;
    background-color: #1b1420;
    color: white;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    font-size: 17px;
}

.signlog-btn:hover{
    align-items: center;
    border: 1px solid white;
    background-color: white;
    color: #1b1420;
}

.hide-navd-btn{
    display: flex;
    width: 20%;
    margin-left: 120px;
    align-items: center;
    justify-content: center;
    color: white;
}

.navbar.shown{
    position: fixed;
    background-color: #1b1420;
    width: 150px;
    margin-left: -96px;
    transition: 0.3s ease;
}

.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: 0.5ms ease;
    padding: 10px;
    border-radius: 4px;
}

.nav-div:hover{
    background-color: #ffffff13;
}

.nav-link-name{
    font-size: 15px;
    color: white;
}

.nav-icon{
    color: white;
    font-size: 17px;
}

/* synaptron */
.synaptron {
    top: -100px;
    transition: background-color 0.3s ease;
}

.loading {
    z-index: 1;
    color: #3c2468b2;
    font-size: 20px;
    animation: colorChange 700ms infinite alternate;
}

@keyframes colorChange {
    0% {
        color: white;
    }
    50% {
        color: #2c55779d;
    }
    100% {
        color: lightslategrey;
    }
}

.synaptron-chat.shown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 9999;
    overflow: scroll;
}

.syn-close {
    margin-left: 10px;
}

.syn-searchbar{
    width: 105vh;
    height: 40px;
    border-radius: 4px;
    color: black;
    background-color: black;
    border: 1px solid rgba(119, 136, 153, 0.692);
    transition: 0.1s ease;
    margin-top: 0;
    color: lightgray;
    padding-left: 10px;
}

input{
    padding: 2px;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

.syn-searchbar:focus{
    border-color: lightgray;
}

.synsb-div {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightgray;
    align-items: center;
    gap: 4px;
    margin-top: 89vh;
    background-color: black;
    border: 3px solid black;
    margin-bottom: 10px;
}

.synsb-below{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self:center;
    font-size: smaller;
    gap: 5px;
    margin-bottom: 10px;
}

.syn-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    color: lightgray;
    margin-top: 5px;
    margin-bottom: 70px;
}

.synaptron-chat-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

.logo-syn{
    /* position:absolute; */
    font-size: 100px;
    margin-top: 10px;
    margin-left: 570px;
    margin-right: 612px;
    align-items: center;
    height: 60px;
    width: 100px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 10px 15px -5px lightslategray;
    margin-bottom: 15px;
}

.syn-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Home page */

.home-pg, .profile-pg, .groups-pg, .tasks-pg{
    display: flex;
    padding-top: 100px;
    margin-left: 200px;
}

.home-pg{
    flex-direction: column;
}

button{
    cursor: pointer;
}

.logout-btn{
    background-color: rgb(219, 56, 56);
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 70px;
    height: 35px;
    margin-top: 10px;
}

/* Profile Page, Tasks Page */

.user-details, .task-details, .group-details{
    color:#1b1420;
    width: 80%;
    height: 50%;
    padding: 20px;
    gap: 30px;
}

.user-div, .tasks-div{
    border-radius: 4px;
    border: 2px solid rgba(119, 114, 114, 0.37);
}

.pg-heading{
    color: #1b1420;
}

/* Profile Page */

.user-div{
    padding: 20px;
}

.pg-head{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

/* Tasks Page */

.tasks-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.delete-task{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-form-btn{
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: rgb(0, 94, 0);
    border: 1px solid transparent;
    background-color: transparent;
    transition: 0.3s ease;
    border-radius: 50%;
}

.delete-form-btn:hover{
    border: 1px solid rgba(179, 179, 179, 0.575);
    background-color: rgba(0, 0, 0, 0.158);
}

/* Update Form */

.general-form-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: 1;
}

.general-form{
    display: flex;
    flex-direction: column;
    border: 2px solid silver;
    background-color: #1b1420ee;
    color: white;
    gap: 20px;
    padding: 50px;
    width: 250px;
    border-radius: 4px;
}

.general-form-input{
    border: 2px solid silver;
    padding: 8px;
    height: 16px;
    border-radius: 4px;
    transition: 0.2s ease;
}

.general-form-input:focus {
    outline: none;
    border-color: rgb(129, 129, 129);
}

.general-form-btns-div{
    width: 250px;
}

.general-form-btn{
    background-color: white;
    color: #1b1420;
    font-size: 17px;
    height: 32px;
    width: 250px;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid #1b1420;
    transition: 0.2s ease;
    margin-top: 10px;
}

.cancel-btn{
    background-color: #1b1420;
    color: white;
}

.general-form-btn:hover{
    background-color: #1b1420;
    color: white;
    border-color: white;
}

/* Login page */

.login-pg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
}

legend{
    margin-bottom: 18px;
}

.login-form{
    display: flex;
    flex-direction: column;
    border: 3px solid #ccd5ae;
    gap: 20px;
    padding: 50px;
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.form-input{
    border: 2px solid silver;
    padding: 8px;
    height: 16px;
    border-radius: 4px;
    transition: 0.2s ease;
}

.form-input:focus {
    outline: none;
    border-color: #ccd5ae;
}

.login-form-btn{
    background-color: #1b1420;
    color: white;
    font-size: 17px;
    height: 32px;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid #1b1420;
    transition: 0.2s ease;
    margin-top: 10px;
}

.login-form-btn:hover{
    background-color: white;
    color: #1b1420;
    border-color: #1b1420;
}

.not-have-acc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #3c2468b2;
}

.nha-link{
    color: #1b1420;
    text-decoration: underline;
}

/* SMALL SCREENS */

@media only screen and (max-width: 767px) {
    nav{
        margin-right: 10px;
        margin-left: 10px;
    }

    .navbar.shown{
        margin-left: -200px;
    }

    /* login pg */

    .login-form{
        border: none;
    }

    .not-have-acc{
        align-items: center;
    }

    legend{
        display: flex;
        justify-content: center;
    }
}