body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    width: 100%;
    position: fixed;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    margin-left: 35px;
}

a{
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.863); */
    color: black;
}

button{
    display: block;
    background-color: transparent;
    border: none;
}

.home-pg{
    display: flex;
    padding-top: 200px;
    margin-left: 100px;
}

.brand-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.brand-name{
    font-size: 25px;
}

.nav-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.user-profile{
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #3c2468b2;
    width: 190px;
    height: 100vh;
    transition: 0.3s ease;
    gap: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar.shown{
    position: fixed;
    background-color: #1b1420;
    width: 150px;
    margin-left: -90px;
    transition: 0.3s ease;
}

.nav-div{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.nav-link-name{
    font-size: 15px;
    color: white;
}

.nav-icon{
    color: white;
    font-size: 17px;
}